/* Blue Theme - Blue accent theme */

:root {
  --color-blue-50: oklch(0.97 0.01 254.54);
  --color-blue-100: oklch(0.93 0.03 255.56);
  --color-blue-300: oklch(0.81 0.1 251.8);
  --color-blue-400: oklch(0.71 0.16 254.62);
  --color-blue-500: oklch(0.62 0.21 259.81);
  --color-blue-600: oklch(0.55 0.24 262.88);
  --color-blue-700: oklch(0.49 0.24 264.37);
  --color-blue-800: oklch(0.42 0.2 265.63);
  --color-blue-900: oklch(0.38 0.15 265.52);
  --color-blue-950: oklch(0.28 0.09 267.93);
}
html.theme-blue,
:root.theme-blue {
  --primary:  oklch(0.488 0.243 264.376);
  --primary-foreground:  oklch(0.97 0.014 254.604);
  --ring:  oklch(0.708 0 0);
  --chart-1:  oklch(0.809 0.105 251.813);
  --chart-2:  oklch(0.623 0.214 259.815);
  --chart-3:  oklch(0.546 0.245 262.881);
  --chart-4:  oklch(0.488 0.243 264.376);
  --chart-5:  oklch(0.424 0.199 265.638);
  --chart-themed-1: var(--color-blue-50);
  --chart-themed-2: var(--color-blue-100);
  --chart-themed-3: var(--color-blue-300);
  --chart-themed-4: var(--color-blue-400);
  --chart-themed-5: var(--color-blue-500);
  --chart-themed-6: var(--color-blue-600);
  --chart-themed-7: var(--color-blue-700);
  --chart-themed-8: var(--color-blue-800);
  --chart-themed-9: var(--color-blue-900);
  --chart-themed-10: var(--color-blue-950);
   --sidebar-primary:  oklch(0.546 0.245 262.881);
   --sidebar-primary-foreground:  oklch(0.97 0.014 254.604);
}

html.dark.theme-blue,
:root.dark.theme-blue {
   --primary:  oklch(0.488 0.243 264.376);
   --primary-foreground:  oklch(0.97 0.014 254.604);
   --ring:  oklch(0.556 0 0);
   --chart-1:  oklch(0.809 0.105 251.813);
   --chart-2:  oklch(0.623 0.214 259.815);
   --chart-3:  oklch(0.546 0.245 262.881);
   --chart-4:  oklch(0.488 0.243 264.376);
   --chart-5:  oklch(0.424 0.199 265.638);
   --sidebar-primary:  oklch(0.623 0.214 259.815);
   --sidebar-primary-foreground:  oklch(0.97 0.014 254.604);
}

