/* Blue Theme - Blue accent theme */

:root {
  --color-blue-50: lch(96.49% -1.1 5.1);
  --color-blue-100: lab(92.03% -2.2 -11.6);
  --color-blue-300: lab(77.5% -6.5 -36.4);
  --color-blue-400: lab(65% -1.4 -57);
  --color-blue-500: lab(54.2% 13.3 -74.7);
  --color-blue-600: lab(44.1% 29 -86);
  --color-blue-700: lab(36.9% 35.1 -85.7);
  --color-blue-800: lab(30.3% 27.8 -70.3);
  --color-blue-900: lab(26.2% 15.8 -51.6);
  --color-blue-950: lab(15.7% 8.9 -32.3);
}
html.theme-blue,
:root.theme-blue {
  --primary:  oklch(0.488 0.243 264.376);
  --primary-foreground:  oklch(0.97 0.014 254.604);
  --ring:  oklch(0.708 0 0);
  --chart-1:  oklch(0.809 0.105 251.813);
  --chart-2:  oklch(0.623 0.214 259.815);
  --chart-3:  oklch(0.546 0.245 262.881);
  --chart-4:  oklch(0.488 0.243 264.376);
  --chart-5:  oklch(0.424 0.199 265.638);
  --chart-themed-1: var(--color-blue-50);
  --chart-themed-2: var(--color-blue-100);
  --chart-themed-3: var(--color-blue-300);
  --chart-themed-4: var(--color-blue-400);
  --chart-themed-5: var(--color-blue-500);
  --chart-themed-6: var(--color-blue-600);
  --chart-themed-7: var(--color-blue-700);
  --chart-themed-8: var(--color-blue-800);
  --chart-themed-9: var(--color-blue-900);
  --chart-themed-10: var(--color-blue-950);
   --sidebar-primary:  oklch(0.546 0.245 262.881);
   --sidebar-primary-foreground:  oklch(0.97 0.014 254.604);
}

html.dark.theme-blue,
:root.dark.theme-blue {
   --primary:  oklch(0.488 0.243 264.376);
   --primary-foreground:  oklch(0.97 0.014 254.604);
   --ring:  oklch(0.556 0 0);
   --chart-1:  oklch(0.809 0.105 251.813);
   --chart-2:  oklch(0.623 0.214 259.815);
   --chart-3:  oklch(0.546 0.245 262.881);
   --chart-4:  oklch(0.488 0.243 264.376);
   --chart-5:  oklch(0.424 0.199 265.638);
   --sidebar-primary:  oklch(0.623 0.214 259.815);
   --sidebar-primary-foreground:  oklch(0.97 0.014 254.604);
}

