/* Green Theme - Green accent theme */
:root {
  --color-green-50: oklch(0.98 0.02 155.77);
        --color-green-100: oklch(0.96 0.04 156.72);
        --color-green-300: oklch(0.87 0.15 154.44);
        --color-green-400: oklch(0.79 0.21 151.71);
        --color-green-500: oklch(0.72 0.22 149.58);
        --color-green-600: oklch(0.63 0.19 149.21);
        --color-green-700: oklch(0.53 0.15 150.07);
        --color-green-800: oklch(0.45 0.12 151.32);
        --color-green-900: oklch(0.39 0.09 152.53);
        --color-green-950: oklch(0.27 0.06 152.93);
}
html.theme-green,
:root.theme-green {
   --primary:  oklch(0.648 0.2 131.684);
   --primary-foreground:  oklch(0.986 0.031 120.757);
   --chart-1:  oklch(0.871 0.15 154.449);
   --chart-2:  oklch(0.723 0.219 149.579);
   --chart-3:  oklch(0.627 0.194 149.214);
   --chart-4:  oklch(0.527 0.154 150.069);
   --chart-5:  oklch(0.448 0.119 151.328);
  --chart-themed-1: var(--color-green-50);
  --chart-themed-2: var(--color-green-100);
  --chart-themed-3: var(--color-green-300);
  --chart-themed-4: var(--color-green-400);
  --chart-themed-5: var(--color-green-500);
  --chart-themed-6: var(--color-green-600);
  --chart-themed-7: var(--color-green-700);
  --chart-themed-8: var(--color-green-800);
  --chart-themed-9: var(--color-green-900);
  --chart-themed-10: var(--color-green-950);
  --sidebar-primary:  oklch(0.648 0.2 131.684);
  --sidebar-primary-foreground:  oklch(0.986 0.031 120.757);
}

html.dark.theme-green,
:root.dark.theme-green {
   --primary:  oklch(0.648 0.2 131.684);
   --primary-foreground:  oklch(0.986 0.031 120.757);
   --input:  oklch(1 0 0 / 15%);
   --ring:  oklch(0.405 0.101 131.063);
   --chart-1:  oklch(0.871 0.15 154.449);
   --chart-2:  oklch(0.723 0.219 149.579);
   --chart-3:  oklch(0.627 0.194 149.214);
   --chart-4:  oklch(0.527 0.154 150.069);
   --chart-5:  oklch(0.448 0.119 151.328);
   --sidebar-primary:  oklch(0.768 0.233 130.85);
   --sidebar-primary-foreground:  oklch(0.986 0.031 120.757);
   --sidebar-ring:  oklch(0.405 0.101 131.063);
}

