/* Green Theme - Green accent theme */
:root {
  --color-green-50: lch(98.16% 6.5 154.3);
    --color-green-100: lab(96.1861% -13.8464 6.52365);
    --color-green-300: lab(86.9953% -47.2691 25.0054);
    --color-green-400: lab(78.503% -64.9265 39.7492);
    --color-green-500: lab(70.5521% -66.5147 45.8073);
    --color-green-600: lab(59.0978% -58.6621 41.2579);
    --color-green-700: lab(47.0329% -47.0239 31.4788);
    --color-green-800: lab(37.4616% -36.7971 22.9692);
    --color-green-900: lab(30.797% -29.6927 17.382);
    --color-green-950: lab(15.6845% -20.4225 11.7249); 
}
html.theme-green,
:root.theme-green {
   --primary:  oklch(0.648 0.2 131.684);
   --primary-foreground:  oklch(0.986 0.031 120.757);
   --chart-1:  oklch(0.871 0.15 154.449);
   --chart-2:  oklch(0.723 0.219 149.579);
   --chart-3:  oklch(0.627 0.194 149.214);
   --chart-4:  oklch(0.527 0.154 150.069);
   --chart-5:  oklch(0.448 0.119 151.328);
  --chart-themed-1: var(--color-green-50);
  --chart-themed-2: var(--color-green-100);
  --chart-themed-3: var(--color-green-300);
  --chart-themed-4: var(--color-green-400);
  --chart-themed-5: var(--color-green-500);
  --chart-themed-6: var(--color-green-600);
  --chart-themed-7: var(--color-green-700);
  --chart-themed-8: var(--color-green-800);
  --chart-themed-9: var(--color-green-900);
  --chart-themed-10: var(--color-green-950);
  --sidebar-primary:  oklch(0.648 0.2 131.684);
  --sidebar-primary-foreground:  oklch(0.986 0.031 120.757);
}

html.dark.theme-green,
:root.dark.theme-green {
   --primary:  oklch(0.648 0.2 131.684);
   --primary-foreground:  oklch(0.986 0.031 120.757);
   --input:  oklch(1 0 0 / 15%);
   --ring:  oklch(0.405 0.101 131.063);
   --chart-1:  oklch(0.871 0.15 154.449);
   --chart-2:  oklch(0.723 0.219 149.579);
   --chart-3:  oklch(0.627 0.194 149.214);
   --chart-4:  oklch(0.527 0.154 150.069);
   --chart-5:  oklch(0.448 0.119 151.328);
   --sidebar-primary:  oklch(0.768 0.233 130.85);
   --sidebar-primary-foreground:  oklch(0.986 0.031 120.757);
   --sidebar-ring:  oklch(0.405 0.101 131.063);
}

